<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    GuiaPress
  </a>

  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a href="/" class="nav-link">Home</a>
    </li>

    <% categories.forEach(category => { %>
      <li class="nav-item">
        <a href="/category/<%= category.slug %>" class="nav-link"><%= category.title %></a>
      </li>
    <% }) %>
  </ul>
</nav>